<div style="margin-top: 5px;">
    <a class="btn btn-primary" href="/Asimov/Myclasses/<%=idProf%>">Classes</a>
    <a class="btn btn-primary" href="/Asimov/Classes">Ajouter un élève</a>
    <a class="btn btn-primary" href="/Asimov/Deco">Se déconnecter</a>
</div>