<div style="margin-top: 5px;">
    <a class="btn btn-primary" href="/Asimov/Classes">Classes</a>
    <a class="btn btn-primary" href="/Asimov/Matieres">Matières</a>
    <a class="btn btn-primary" href="/Asimov/Professeurs">Professeurs</a>
    <a class="btn btn-primary" href="/Asimov/Deco">Se déconnecter</a>
</div>