<%- include('header') %>
    
    <script src="/controllers/ctrlGlobal.js"></script>
    <title>Asimov : Modification de professeurs</title>
</head>
<body id="body-connexion">
    <div class="centrePage">
    <div class="formulaire" style="padding-left: 10%; padding-right: 10%; padding-bottom: 10%; width: 600px;">
        <%- include('enTeteProviseur') %>

        <div class="image" style="background-image: url(/img/logo.png); width: 150px; height: 150px; margin-top: 10px;"></div>
            <form action="/Asimov/Modif_Prof" method="POST">
                <h2>Modification du professeur</h2>
                <input name="pseudo" type="text" placeholder="Pseudo">
                <input name="nom" type="text" placeholder="Nom">
                <input name="prenom" type="text" placeholder="Prenom">
                <input name="idProf" value="<%=idProf%>" type="hidden">
                <input type="submit" class="btn btn-primary" style="margin-top: 5px;">
            </form>
        </div>
    </div>

<%- include('footer') %>