<%- include('header') %>
    
    <script src="/controllers/ctrlGlobal.js"></script>
    <title>Asimov : Modification de matière</title>
</head>
<body id="body-connexion">
    <div class="centrePage">
    <div class="formulaire" style="padding-left: 10%; padding-right: 10%; padding-bottom: 10%; width: 800px;">
        <%- include('enTeteProviseur') %>

            <div class="image" style="background-image: url(/img/logo.png); width: 150px; height: 150px; margin-top: 10px;"></div>
            <form action="/Asimov/Modif_Matiere" method="POST" style="display: flex; flex-direction: column; margin-top: 5%;">
                <h2>Modification d'une matière</h2>
                <input name="nom" type="text" placeholder="Nom">
                <input name="idMatiere" value="<%=idMatiere%>" type="hidden">
                <input type="submit" class="btn btn-primary" style="margin-top: 5px;">
            </form>
        </div>
    </div>

<%- include('footer') %>