<%- include('header') %>
    <link rel="icon" href="/img/logo.png">
    <script src="/controllers/ctrlGlobal.js"></script>
    <title>Asimov : Page de connexion</title>
</head>
<body id="body-connexion">
    <a href="/Asimov/Deco">Se déconnecter</a>
    <div class="centrePage">
        
    </div>

<%- include('footer') %>