<%- include('header') %>

    <title>Asimov : Mes notes</title>
</head>
<body id="body-mesNotes">
    <div class="centrePage">
        <div class="formulaire">
            coucou
        </div>
    </div>

<%- include('footer') %>