<%- include('header') %>
    <link rel="icon" href="./img/logo.png">
    <title>Asimov : Page de connexion</title>
</head>
<body id="body-connexion">
    <div class="centrePage formulaire">
        <div class="image" style="background-image: url(./img/logo.png); width: 100px; height: 100px;"></div>
        <form action="" method="post">
            <input name="pseudo" type="text" placeholder="Pseudo">
            <input name="mdp" type="password" placeholder="Mot de passe">
            <input type="submit" value="Connexion">
        </form>
        <div>Vous avez un problème avec votre mot de passe ? <br> Veuillez contacter l'administration afin qu'il soit réinitialisé !</div>
    </div>

<%- include('footer') %>
