body{
    width: 100%;
    height: 100%;
    background-color: #5266be;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.centrePage{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.formulaire{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    border: 5px solid black;
}

.image{ 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.taille{
    background-color: rgb(255, 145, 0);
}

td, th{
    border: 1;
}