body{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.centrePage{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.formulaire{
    background-color: white;
    width: 600px; 
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

.image{ 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.taille{
    background-color: rgb(255, 145, 0);
}